<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= pageTitle %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!--link rel="icon" type="image/png" href="images/icons/favicon.png"/-->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/icons/favicon/site.webmanifest">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<% if (path === '/featured' || path === '/new-arrivals') { %>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<% } %>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

		<style>
				.demo-overlay, .demo-overlay-background {
					position: fixed;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
				.demo-overlay {
					z-index: 9;
					transition-property: opacity;
				}
				.TextLink {
					cursor: pointer;
				}
				.demo-overlay-badge-topRight {
					position: fixed;
					top: 14px;
					right: 14px;
				}
				.demo-overlay-badge {
					background-color: #f7e633;
					color: #363636;
					border-radius: 5px;
					font-weight: 700;
					font-size: 11px;
					text-transform: uppercase;
					padding-left: 9px;
					padding-right: 9px;
					height: 52px;
					line-height: 26px;
				}
				.demo-overlay-badge-bottomLeft {
					position: fixed;
					bottom: 14px;
					left: 14px;
				}
				</style>
	<div class="demo-overlay">
		<div class="demo-overlay-background"></div>
		<a href="https://www.SteveBreese.com" target="_blank" class="TextLink demo-overlay-badge demo-overlay-badge-topRight">Fully Working Demo Store<br><span style="font-size:140%">Developed by Steve Breese</span></a>
		<div class="demo-overlay-badge-bottomLeft">Developed by<br><img src="https://www.stevebreese.com/img/HEADSHOT_Big.png" style="width: 100px">
		</div>
	</div>