<style>
        .demo-overlay/*, .demo-overlay-background*/ {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .demo-overlay {
            z-index: 1101;
            transition-property: opacity;
        }
        .TextLink {
            cursor: pointer;
        }
        .demo-overlay-badge-topRight {
            position: fixed;
            bottom: 40px;
            right: 14px;
            text-align: center;
        }
        .demo-overlay-badge {
            z-index: 1101;
            background-color: #f7e633;
            color: #363636;
            border-radius: 5px;
            font-weight: 700;
            font-size: 11px;
            text-transform: uppercase;
            padding-left: 9px;
            padding-right: 9px;
            height: 82px;
            line-height: 26px;
        }
        .demo-overlay-badge-bottomLeft {
            position: fixed;
            z-index: 1101;
            bottom: 24px;
            left: 14px;
            text-align: center;
        }

        .pulse {
         -webkit-animation-name: pulsate;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite

}
/* http://jsfiddle.net/S5PB7/4/ */
@-webkit-keyframes pulsate {
0% { opacity: 0.0}
 10% { opacity: .20}
 20% { opacity: .40 }
 30% { opacity: .60 }
 40% { opacity: .80 } 
 50% { opacity: 1.0}
 60% { opacity: .80}
 70% { opacity: .60}
 80% { opacity: .40}
 90% { opacity: .20}
 100% { opacity: 0.0}
 }
        </style>
<div class="demo-overlay">
<!--div class="demo-overlay-background"></div-->
<a href="/about" target="_blank" class="TextLink demo-overlay-badge demo-overlay-badge-topRight pulse">Fully Working Demo Store<br><span style="font-size:140%">Make a mock purchase!</span><br>Click here for more information</a>
<div class="demo-overlay-badge-bottomLeft">~ Created by ~<br><a href="https://www.SteveBreese.com" target="_blank"><img src="https://www.stevebreese.com/img/HEADSHOT_Big.png" style="width: 100px"><br>Steve Breese</a>
</div>
</div>