<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/excel2007.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (user) { %>

        <% } else { %>
            <h1>User Not Found!</h1>
        <% } %>
    </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/users.js"></script>